In [ ]:
import pandas as pd
from typing import Dict

from test_data import create_sample_data, get_weekly_sales_data

Technical Interview Question 1: Data Batching and Transformation Exercise

1. Implement the `process_sales_batch()` function according to the specifications in its docstring.
   This function should process a batch of sales data, performing aggregation and calculations.

In [ ]:
sales_data, asset_data = create_sample_data()
weekly_results = get_weekly_sales_data(sales_data)

In [ ]:
def process_sales_batch(sales_data: pd.DataFrame) -> pd.DataFrame:
    """
    Process a single weekly batch of sales data.
    
    For each batch:
    1. Group by portfolio_id and asset_type
    2. Calculate total sales amount (MWh * price)
    3. Calculate average price per product
    4. Count number of transactions
    5. Retain the year_week information for each group

    Parameters:
    -----------
    sales_data : pd.DataFrame
        Weekly batch of sales data containing columns:
        - portfolio_id: Identifier for the portfolio
        - asset_type: Type of asset
        - MWh: Sum of Energy volume in MegaWatt hours
        - price: Average Price per MWh
        - sales_amount: Total sales amount (MWh * price)
        - transaction_count: Transaction number of date
        - year_week: Week and year of the transaction

    Returns:
    --------
    pd.DataFrame: A DataFrame with aggregated sales metrics
    """
    
    return

-------------------------

### Expected result DataFrame

In [16]:
example_sales_data = pd.read_csv("question_1_result.csv")
example_sales_data.head()

,portfolio_id,asset_type,MWh,price,sales_amount,transaction_count,year_week
0,A001,Gas,477,100.395263,44858.23,19,2023-01
1,A001,Solar,400,140.722632,57660.18,19,2023-01
2,A001,Wind,579,107.616087,65298.53,23,2023-01
3,B002,Gas,421,96.046842,37603.04,19,2023-01
4,B002,Solar,666,113.638400,76610.26,25,2023-01