In [1]:
import pandas as pd
from typing import Dict

from test_data import create_sample_data, get_weekly_sales_data

In [2]:
from technical_interview_solution import process_sales_batch, combine_sales_with_asset_data, create_consolidated_weekly_report

In [3]:
sales_data, asset_data = create_sample_data()
weekly_results = get_weekly_sales_data(sales_data)

/home/bk/us-test/src/us_test/test_data.py:13: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  'date': pd.date_range(start='2023-01-01', periods=hours_in_four_weeks, freq='H'),

Fetching data for week: 2023-01
Fetching data for week: 2023-02
Fetching data for week: 2023-03
Fetching data for week: 2023-04

In [4]:
sales_data

                   date portfolio_id asset_type  MWh   price year_week
0   2023-01-01 00:00:00         C003        Gas   39   66.86   2023-01
1   2023-01-01 01:00:00         B002       Wind   32   64.12   2023-01
2   2023-01-01 02:00:00         C003        Gas    3   58.12   2023-01
3   2023-01-01 03:00:00         D004       Wind   19  112.83   2023-01
4   2023-01-01 04:00:00         D004       Wind   37   24.55   2023-01
..                  ...          ...        ...  ...     ...       ...
667 2023-01-28 19:00:00         C003       Wind   44   40.10   2023-04
668 2023-01-28 20:00:00         D004        Gas    5  126.34   2023-04
669 2023-01-28 21:00:00         C003       Wind   42   15.61   2023-04
670 2023-01-28 22:00:00         D004       Wind   32  102.30   2023-04
671 2023-01-28 23:00:00         C003        Gas    8   68.43   2023-04

[672 rows x 6 columns]

In [4]:
weekly_results['2023-04']

                   date portfolio_id asset_type  MWh   price year_week
504 2023-01-22 00:00:00         D004      Solar   36  158.74   2023-04
505 2023-01-22 01:00:00         A001      Solar   49   85.93   2023-04
506 2023-01-22 02:00:00         C003       Wind   21   10.53   2023-04
507 2023-01-22 03:00:00         C003       Wind   33  187.31   2023-04
508 2023-01-22 04:00:00         D004      Solar   41   40.83   2023-04
..                  ...          ...        ...  ...     ...       ...
667 2023-01-28 19:00:00         D004       Wind   24   70.34   2023-04
668 2023-01-28 20:00:00         B002        Gas   25  169.42   2023-04
669 2023-01-28 21:00:00         B002       Wind   16  191.81   2023-04
670 2023-01-28 22:00:00         D004       Wind   48  167.02   2023-04
671 2023-01-28 23:00:00         D004      Solar   20  102.42   2023-04

[168 rows x 6 columns]

In [5]:
result = process_sales_batch(weekly_results['2023-01'])

In [10]:
combined_weekly_results = combine_sales_with_asset_data(result, asset_data)

In [14]:
result

,portfolio_id,asset_type,MWh,price,sales_amount,transaction_count,year_week
0,A001,Gas,294,114.635000,35203.18,12,2023-01
1,A001,Solar,199,97.037778,20000.19,9,2023-01
2,A001,Wind,235,123.494000,28550.14,10,2023-01
3,B002,Gas,523,116.456842,62862.74,19,2023-01
4,B002,Solar,514,94.266316,45483.50,19,2023-01
5,B002,Wind,578,100.742105,57234.73,19,2023-01
6,C003,Gas,220,71.860000,14774.98,8,2023-01
7,C003,Solar,430,123.388235,55311.55,17,2023-01
8,C003,Wind,395,101.163333,33190.02,15,2023-01
9,D004,Gas,265,78.530000,20817.88,9,2023-01
10,D004,Solar,548,97.751765,51520.41,17,2023-01
11,D004,Wind,266,109.111429,27666.08,14,2023-01

In [11]:
combined_weekly_results

,portfolio_id,asset_type,MWh,price,sales_amount,transaction_count,year_week,asset_count,primary_geography,iso_regions,oldest_asset_date,newest_asset_date,timezones,portfolio_age_years,mwh_per_asset,revenue_per_asset,revenue_per_mwh
0,A001,Gas,294,114.635000,35203.18,12,2023-01,2,North,[South],2020-07-27,2022-10-08,[US/Eastern],4.7,147.000000,17601.590000,119.738707
1,A001,Solar,199,97.037778,20000.19,9,2023-01,2,North,[South],2020-07-27,2022-10-08,[US/Eastern],4.7,99.500000,10000.095000,100.503467
2,A001,Wind,235,123.494000,28550.14,10,2023-01,2,North,[South],2020-07-27,2022-10-08,[US/Eastern],4.7,117.500000,14275.070000,121.489957
3,B002,Gas,523,116.456842,62862.74,19,2023-01,2,North,[South],2016-07-06,2017-12-13,"[US/Central, US/Eastern]",8.8,261.500000,31431.370000,120.196444
4,B002,Solar,514,94.266316,45483.50,19,2023-01,2,North,[South],2016-07-06,2017-12-13,"[US/Central, US/Eastern]",8.8,257.000000,22741.750000,88.489300
5,B002,Wind,578,100.742105,57234.73,19,2023-01,2,North,[South],2016-07-06,2017-12-13,"[US/Central, US/Eastern]",8.8,289.000000,28617.365000,99.022024
6,C003,Gas,220,71.860000,14774.98,8,2023-01,6,East,"[South, North, West]",2017-11-02,2023-03-19,"[US/Eastern, US/Central, US/Pacific]",7.4,36.666667,2462.496667,67.159000
7,C003,Solar,430,123.388235,55311.55,17,2023-01,6,East,"[South, North, West]",2017-11-02,2023-03-19,"[US/Eastern, US/Central, US/Pacific]",7.4,71.666667,9218.591667,128.631512
8,C003,Wind,395,101.163333,33190.02,15,2023-01,6,East,"[South, North, West]",2017-11-02,2023-03-19,"[US/Eastern, US/Central, US/Pacific]",7.4,65.833333,5531.670000,84.025367
9,D004,Gas,265,78.530000,20817.88,9,2023-01,2,East,[East],2016-07-01,2021-07-21,"[US/Eastern, US/Central]",8.8,132.500000,10408.940000,78.558038
10,D004,Solar,548,97.751765,51520.41,17,2023-01,2,East,[East],2016-07-01,2021-07-21,"[US/Eastern, US/Central]",8.8,274.000000,25760.205000,94.015347
11,D004,Wind,266,109.111429,27666.08,14,2023-01,2,East,[East],2016-07-01,2021-07-21,"[US/Eastern, US/Central]",8.8,133.000000,13833.040000,104.007820

In [7]:
def run_pipeline(weekly_results: Dict[str, pd.DataFrame]) -> Dict[str, pd.DataFrame]:
    """
    Runs the entire sales data processing pipeline.
    
    This function:
    1. Processes sales data in batches by month
    2. Combines each processed batch with asset data
    3. Generates a consolidated report from all processed months and returns its results.
    
    Parameters:
    -----------
    weekly_results : Dict[str, pd.DataFrame]
        Dict containing monthly sales data as if from a batched API call.
        
    """
    processed_weekly_results = {}
    for month in weekly_results:
        processed_monthly_data = process_sales_batch(weekly_results[month])
        combined_weekly_results = combine_sales_with_asset_data(processed_monthly_data, asset_data)
        processed_weekly_results[month] = combined_weekly_results
        print(f"Combined with Asset data for month: {month}")

    print(f"Processed data for {len(processed_weekly_results)} months")
    return create_consolidated_weekly_report(processed_weekly_results)

In [8]:
weekly_comparison, summary, all_weeks_data = run_pipeline(weekly_results)

Combined with Asset data for month: 2023-01
Combined with Asset data for month: 2023-02
Combined with Asset data for month: 2023-03
Combined with Asset data for month: 2023-04
Processed data for 4 months

In [17]:
weekly_comparison

          portfolio_id asset_type     MWh                               price  \
year_week                         2023-01 2023-02 2023-03 2023-04     2023-01
0                 A001        Gas   432.0   200.0   389.0   361.0   93.078667
1                 A001      Solar   419.0   540.0   344.0   417.0   99.168000
2                 A001       Wind   438.0   519.0   325.0   185.0  104.038824
3                 B002        Gas   295.0   432.0   259.0   382.0  103.771818
4                 B002      Solar   379.0   324.0   233.0   449.0  110.108000
5                 B002       Wind   543.0   164.0   195.0   189.0   85.560588
6                 C003        Gas   381.0   371.0   301.0   239.0  130.565000
7                 C003      Solar   322.0   432.0   364.0   365.0   97.563333
8                 C003       Wind   407.0   216.0   695.0   246.0  107.876667
9                 D004        Gas   370.0   212.0   494.0   362.0  107.744286
10                D004      Solar   240.0   286.0   319.0   244.0  109.386250
11                D004       Wind   479.0   542.0   382.0   518.0   98.666471

                                              revenue_per_mwh              \
year_week     2023-02     2023-03     2023-04         2023-01     2023-02
0          102.071000  101.667647   90.553571       97.097245  113.464900
1           91.992632  101.225000   77.824211       93.743866   81.056833
2          123.155882  106.812857  115.140000      112.639406  123.542254
3           99.622000   68.867778  104.670625       98.195492   97.777546
4          129.522000   94.526667  118.240588       96.846860  126.690988
5          121.536667  100.341250  131.076667       87.108785  117.518232
6          107.075000  119.828182  101.405000      132.574803  117.524771
7          110.772778  111.847333  123.340000       91.970590  109.714028
8          117.205833   90.443077   83.570000      117.153071  116.292083
9           79.295714   79.934667  118.752667      101.184162   90.678160
10         127.932143  106.193571   60.355833      118.272708  124.324126
11          87.900476  102.485714   93.093500       95.730522   82.343948

                                  sales_amount
year_week     2023-03     2023-04      2023-01   2023-02   2023-03   2023-04
0           83.885064   92.939861     41946.01  22692.98  32631.29  33551.29
1          103.598314   77.403693     39278.68  43770.69  35637.82  32277.34
2          102.794092  111.792378     49336.06  64118.43  33408.08  20681.59
3           76.684363  122.877277     28967.67  42239.90  19861.25  46939.12
4           91.660558  122.493697     36704.96  41047.88  21356.91  54999.67
5          108.741231  128.645291     47300.07  19272.99  21204.54  24313.96
6          116.929635  115.527782     50511.00  43601.69  35195.82  27611.14
7          124.783544  112.616986     29614.53  47396.46  45421.21  41105.20
8          100.126662   82.258577     47681.30  25119.09  69588.03  20235.61
9           74.044615  121.207735     37438.14  19223.77  36578.04  43877.20
10         112.279028   69.838975     28385.45  35556.70  35817.01  17040.71
11          92.447853   93.311293     45854.92  44630.42  35315.08  48335.25

In [7]:
processed_monthly_results = {}
for month in monthly_results:
    processed_monthly_data = process_sales_batch(monthly_results[month])
    combined_monthly_results = combine_sales_with_asset_data(processed_monthly_data, asset_data)
    processed_monthly_results[month] = combined_monthly_results
    print(f"Combined with Asset data for month: {month}")

# Show the number of months processed
print(f"Processed data for {len(processed_monthly_results)} months")

Combined with Asset data for month: 2023-01
Combined with Asset data for month: 2023-02
Combined with Asset data for month: 2023-03
Combined with Asset data for month: 2023-04
Processed data for 4 months

In [8]:
# Create consolidated report
monthly_comparison, summary, all_data = create_consolidated_monthly_report(processed_monthly_results)

In [10]:
def process_sales_batch(sales_data: pd.DataFrame) -> pd.DataFrame:
    """
    Process a batch of sales data.
    
    For each batch:
    1. Group by portfolio_id and asset_type
    2. Calculate total sales amount (MhW * price)
    3. Calculate average price per product
    4. Count number of transactions
    """
    result = sales_data.copy()
    
    # Calculate sales amount for each transaction
    result['sales_amount'] = result['MhW'] * result['price']
    
    # Group by portfolio_id and asset_type
    grouped = result.groupby(['portfolio_id', 'asset_type']).agg({
        'MhW': 'sum',
        'price': 'mean',
        'sales_amount': 'sum',
        'date': 'count',
        'month_year': 'first'
    }).rename(columns={'date': 'transaction_count'}).reset_index()
    
    return grouped

In [12]:
def combine_sales_with_asset_data(sales_results: pd.DataFrame, asset_data: pd.DataFrame) -> pd.DataFrame:
    """
    Combines the processed sales data with asset information.
    
    Parameters:
    -----------
    sales_results : pd.DataFrame
        Processed sales data with aggregated metrics by portfolio_id and asset_type
    asset_data : pd.DataFrame
        Asset information including geography, ISO, and operational dates
        
    Returns:
    --------
    pd.DataFrame
        Combined dataframe with sales metrics and asset details
    """
    # First, aggregate asset data by portfolio_id to get portfolio-level metrics
    asset_portfolio_summary = asset_data.groupby('portfolio_id').agg({
        'asset_id': 'count',
        'geography': lambda x: x.mode().iloc[0] if not x.mode().empty else None,
        'ISO': lambda x: list(x.unique()),
        'operational_date': ['min', 'max']
    })
    
    # Flatten the multi-level columns
    asset_portfolio_summary.columns = [
        'asset_count', 'primary_geography', 'iso_regions', 
        'oldest_asset_date', 'newest_asset_date'
    ]
    asset_portfolio_summary = asset_portfolio_summary.reset_index()
    
    # Calculate portfolio age in years (assuming operational_date is already a date object)
    today = pd.Timestamp.now().date()
    asset_portfolio_summary['portfolio_age_years'] = asset_portfolio_summary['oldest_asset_date'].apply(
        lambda x: (today - x).days / 365.25
    ).round(1)
    
    # Merge sales results with asset portfolio summary
    combined_data = pd.merge(
        sales_results,
        asset_portfolio_summary,
        on='portfolio_id',
        how='left'
    )
    
    # Calculate additional metrics
    combined_data['mhw_per_asset'] = combined_data['MhW'] / combined_data['asset_count']
    combined_data['revenue_per_asset'] = combined_data['sales_amount'] / combined_data['asset_count']
    combined_data['revenue_per_mhw'] = combined_data['sales_amount'] / combined_data['MhW']
    
    return combined_data

In [13]:
def create_consolidated_monthly_report(monthly_results: Dict[str, pd.DataFrame]) -> Dict[str, pd.DataFrame]:
    """
    Creates a consolidated report from monthly processed data.
    
    Parameters:
    -----------
    monthly_results : Dict[str, pd.DataFrame]
        Dictionary containing processed data for each month
        
    Returns:
    --------
    Dict[str, pd.DataFrame]
        Dictionary containing different views of the consolidated data:
        - monthly_comparison: Pivot table comparing metrics across months
        - summary: Overall summary across all months
        - trend_analysis: Month-over-month change analysis
    """
    if not monthly_results:
        return {"error": "No monthly data provided"}
    
    # Concatenate all monthly results
    all_months_data = pd.concat(monthly_results.values(), ignore_index=True)
    
    # Create a pivot table to compare months
    pivot_sales = pd.pivot_table(
        all_months_data, 
        values=['MhW', 'sales_amount', 'price', 'revenue_per_mhw'],
        index=['portfolio_id', 'asset_type'],
        columns='month_year'
    )
    
    # Reset the index to get a flat DataFrame
    pivot_sales = pivot_sales.reset_index()
    
    # Calculate overall summary metrics
    summary = all_months_data.groupby(['portfolio_id', 'asset_type']).agg({
        'MhW': 'sum',
        'sales_amount': 'sum',
        'transaction_count': 'sum',
        'price': 'mean',
        'asset_count': 'first',  # These values should be the same across months
        'primary_geography': 'first',
        'portfolio_age_years': 'first'
    }).reset_index()
    
    # Add additional summary metrics
    summary['avg_monthly_revenue'] = summary['sales_amount'] / len(monthly_results)
    summary['avg_revenue_per_mhw'] = summary['sales_amount'] / summary['MhW']
    
    return {
        'monthly_comparison': pivot_sales,
        'summary': summary,
        'all_data': all_months_data
    }

In [15]:
sales_data, asset_data = create_sample_data()
monthly_results = get_monthly_sales_data(sales_data)

Fetching data for month: 2023-01
Fetching data for month: 2023-02
Fetching data for month: 2023-03
Fetching data for month: 2023-04

In [16]:
processed_monthly_results = {}
for month in monthly_results:
    processed_monthly_data = process_sales_batch(monthly_results[month])
    combined_monthly_results = combine_sales_with_asset_data(processed_monthly_data, asset_data)
    processed_monthly_results[month] = combined_monthly_results
    print(f"Combined with Asset data for month: {month}")

# Show the number of months processed
print(f"Processed data for {len(processed_monthly_results)} months")

Combined with Asset data for month: 2023-01
Combined with Asset data for month: 2023-02
Combined with Asset data for month: 2023-03
Combined with Asset data for month: 2023-04
Processed data for 4 months

In [17]:
# Create consolidated report
consolidated_report = create_consolidated_monthly_report(processed_monthly_results)

print("Monthly Comparison:")
consolidated_report['monthly_comparison'].head()

Monthly Comparison:

           portfolio_id asset_type     MhW                          \
month_year                         2023-01 2023-02 2023-03 2023-04
0                  A001        Gas    74.0    26.0    53.0     NaN
1                  A001      Solar    22.0    43.0   227.0    48.0
2                  A001       Wind   100.0    28.0    15.0    12.0
3                  B002        Gas    64.0   118.0   155.0    44.0
4                  B002      Solar     4.0    53.0     2.0    10.0

                 price                                 revenue_per_mhw  \
month_year     2023-01     2023-02     2023-03 2023-04         2023-01
0           151.783333   13.490000  125.580000     NaN      149.652703
1           116.610000   73.130000   86.131667  186.50      116.610000
2           124.345000  123.325000   63.250000  136.04      141.483100
3            85.020000  124.606667   76.002500   27.75       87.340938
4           131.900000   98.210000  158.740000  168.06      131.900000

                                               sales_amount            \
month_year     2023-02     2023-03     2023-04      2023-01   2023-02
0            13.490000  115.710000         NaN     11074.30    350.74
1            73.130000   83.278722  186.500000      2565.42   3144.59
2            73.286786   63.250000  125.895000     14148.31   2052.03
3           122.373729   58.652581   42.362727      5589.82  14440.10
4            47.636415  158.740000  168.060000       527.60   2524.73


month_year   2023-03  2023-04
0            6132.63      NaN
1           18904.27  8952.00
2             948.75  1510.74
3            9091.15  1863.96
4             317.48  1680.60

In [18]:
print("Overall Summary:")
consolidated_report['summary'].head()

Overall Summary:

,portfolio_id,asset_type,MhW,sales_amount,transaction_count,price,asset_count,primary_geography,portfolio_age_years,avg_monthly_revenue,avg_revenue_per_mhw
0,A001,Gas,153,17557.67,6,96.951111,2,East,8.1,4389.4175,114.756013
1,A001,Solar,340,33566.28,9,115.592917,2,East,8.1,8391.5700,98.724353
2,A001,Wind,155,18659.83,11,111.740000,2,East,8.1,4664.9575,120.386000
3,B002,Gas,381,30985.03,14,78.344792,2,East,9.4,7746.2575,81.325538
4,B002,Solar,69,5050.41,6,139.227500,2,East,9.4,1262.6025,73.194348